body {
    /* font-family: Arial, sans-serif; */
    text-align: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(31, 60px); /* 16열 */
    grid-template-rows: repeat(8, 60px); /* 8행 */
    gap: 0.1px;
    margin: 20px auto;
    background-image: url("../image/super-mario.png");
    background-size: cover;
}

.cell {
    width: 60px;
    height: 60px;
    background-color: rgba(239, 239, 240, 0.5);
    cursor: pointer;
    border: 1px solid black;
}

.cell.A.active{ background-color: rgba(247, 148, 61, 0.8); }
.cell.B.active{ background-color: rgba(227, 49, 89, 0.8); }
.cell.C.active{ background-color: rgba(191, 79, 168, 0.8); }
.cell.D.active{ background-color: rgba(77, 97, 216, 0.8); }
.cell.E.active{ background-color: rgba(69, 181, 161, 0.8); }
.cell.F.active{ background-color: rgba(149, 198, 49, 0.8); }
.cell.G.active{ background-color: rgba(237, 217, 41, 0.8); }
.cell.c-step { background-color: rgba(235, 246, 255, 0.8); }


#control-wrap {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.control-left {    
    padding : 10px;
    text-align: left;
}
.control-left .list-group-item{
    width: 80%;
}

.control-right {    
    padding : 10px;
    text-align: right;
}
.control-right .list-group{
    align-items:flex-end;
}
.control-right .list-group-item{
    width: 80%;
    
}

.list-group-item.active {
    background-color: rgba(13, 110, 253, 0.7);
}
